<<<<<<< HEAD
<!-- <% if flash[:notice] %>
=======
<a href="/login" class='button'>Login via Github</a>

<% if flash[:notice] %>
>>>>>>> remove unecessary divs and style differences
  <div class="notice"><%= flash[:notice] %></div>
<% end %> -->

<<<<<<< HEAD
<div ng-view></div>
=======
</div>
>>>>>>> remove unecessary divs and style differences
