<div class="row">
  <div class="large-6 columns">
    <div class="signup-panel">
      <p class="welcome"> Welcome to this awesome app!</p>
      <form>
         <a href="https://github.com/login/oauth/authorize?scope=user:GITHUB_KEY=1c651d10181570330a" class="button ">Sign In via Github</a>
         <p>Already have an account? <a href="#">Login here &raquo</a></p>
      </form>
    </div>
  </div>
</div>         


   <!-- when click login , redirect to /auth/github
   takes user to guthubs auth system
   once they logged in it will redirect user to our web app at the redirect url that we provided them with
   /auth/github/callback
   create this route and retrieve current user infor based on info they give us
   info they give us lcoated at: request.env['omniauth.auth'] -->
