#main-section {
  margin-top: 80px;
  min-height: 650px;
}


.slide {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  &:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden; 
  }
}

//move to footer section
footer {
  width: 100%;
  background: #eee;
  height: 60px;
  padding: 20px;
  /* font*/
  color: #999;
}