body {
  min-width: 1020px;
  font-family: 'Roboto', sans-serif;
  color: $font-dark;

  ul, li, input, textarea, a, p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

a {
  color: $primary;
  font-weight: bold;
  &:hover {
    color: $primary-dark;
  }
}

button {
  color: $font-xlight;
}

#header {
  color: $font-light;
  .logo {
    font-size: 30px;
  }
  a {
    color: $font-light;
    &:hover {
      color: $font-xlight;
    }
  }
  .logo {
    float: left;
    margin: 15px 35px;
    font-size: 30px;
  }
  .fa {
    font-size: 22px;
    &.fa-comments {
      font-size: 26px;
    }
  }
}

.intro {
  h2 {
    font-size: 72px;
  }
  .tagline {
    margin: 10px 0;
    font-size: 24px;
    font-style: italic;
  }
}

.start {
  h2 {
    font-size: 28px;
    color: $font-med;
  }
}

.team {
  h2 {
    font-weight: bold;
  }
  .tagline {
    font-size: 20px;
    font-style: italic;
  }
  .social {
    margin: 10px 0;
    i {
      font-size: 24px;
      margin: 0 3px;
    }
  }
  .fa-github {
  color: black;
  }
  .fa-linkedin-square {
    color: #007bb6;
  }
  .fa-twitter {
    color: #00aced;
  }
}

footer {
  color: $font-med;
}