body {
  font-family: 'Roboto', sans-serif;

  ul, li, input, textarea, a, p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
  }

  h1,h2,h3,h4,h5,h6 {
    margin: 0;
  }
}

.intro {
  h2 {
    font-size: 72px;
  }
  .tagline {
    margin: 10px 0;
    font-size: 24px;
    font-style: italic;
  }
}

.start {
  h2 {
    font-size: 34px;
  }
  input[type="text"] {

  }
  input[type="submit"] {

  }
}

.team {
  h4 {
    font-weight: bold;
  }
  .tagline {
    font-size: 20px;
    font-style: italic;
  }
  .social {
    margin: 10px 0;
    i {
      font-size: 24px;
      margin: 0 3px;
    }
  }
}