.chat {
  margin: 20px;

  .chat-messages {
    border: 1px solid $light-grey-border;
    height: 335px;
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    ul {
      list-style: none;
    }
    overflow-y: auto;
    word-wrap: break-word;
  }

  .emoji-helper {
    float: left;
  }
}

.chat-widget {
  position: fixed;
  float: right;
  bottom: 0px;
  right: 0px;
  z-index: 1;

  .chat-widget-bar {
    text-align: center;
    font-size: 25px;
    background-color: $dark-grey;
    color: $light-grey;
    height: 40px;
    width: 220px;
  }

  .chat-widget-header {
    padding-left: 10px;
    height: 30px;
    font-size: 20px;
    background-color: $dark-grey;
    color: $light-grey;
  }

  .chat-widget-display {
    background-color: $light-grey;
    width: 450px;
  }
}
