.doc-view {
  input {
    border: 0;
    box-shadow: none;
    border-radius: 0;
    color: gray;

    font-size: 48px;
    height: 100px;
    &:focus {
      border: 0;
      background: white;
      box-shadow: none;
    }
    &::-webkit-input-placeholder { /* WebKit browsers */
      color: gray;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: gray;
      opacity: 1;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: gray;
      opacity: 1;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
      color: gray;
    }
  }
}

.editor {
  #content {
    padding-top: 2px;
    position: absolute;
    left: 30px;
  }
  textarea, pre {
    tab-size: 2;
  }
  .textAreaWithLines {
    font-family:courier;
    border:1px solid black;
    width: 693px;
    height: 302px;
    overflow: auto;
    position: relative;
  }

  .textAreaWithLines textarea,.textAreaWithLines div {
    border:0px;
    line-height:100%;
    font-size:15px;
  }

  #lineObj {
    color:black;
    font-size: 15px;
    position: absolute;
    top: 2px;
    left: 0px;
    width: 27px;
    height: 300px;
    text-align: right;
  }
}