.doc-view {
  .collaborators {
    vertical-align: bottom;
    margin: 15px 0;
    .fa {
      margin-bottom: 0;
      vertical-align: bottom;
    }
  }
}
.editor {
  #content {
    padding-top: 2px;
    position: absolute;
    left: 30px;
  }
  textarea, pre {
    tab-size: 2;
  }
  .textAreaWithLines {
    font-family: courier;
    border: 1px solid #999;
    width: 100%;
    height: 302px;
    overflow: auto;
    position: relative;
  }
  .textAreaWithLines textarea,.textAreaWithLines div {
    border: 0px;
    line-height: 100%;
    font-size: 20px;
  }
  #lineObj {
    color:black;
    font-size: 15px;
    position: absolute;
    top: 2px;
    left: 0px;
    width: 27px;
    height: 300px;
    text-align: right;
  }
}


/*LANDING PAGE*/

#landing {
  text-align: center;
  .name {
    /*font*/
    font-size: 50px;
  }

  .tagline {
    /*font*/
    font-size: 30px;
  }

  .benefit {
    /*font*/
    font-size: 22px;
    font-weight: bold;
    margin: 30px;
    display: inline-block;
    width: 300px;
    height: 400px;
    text-align: center;
    .benefit-icon {
      position: relative;
      border: 1px solid #999;
      height: 250px;
      width: 250px;
      border-radius: 100%;
      margin: 25px;
    }
    .github {
      height: 17px;
      width: auto;
      margin-bottom: 5px;
    }
  }
}

#chatter {
  background: #eee;
  width: 250px;
  height: 40px;
  float: right;
  border-radius: 10px 10px 0 0;
  bottom: 100%;
  .fa-user {
    /*font*/
    font-size: 24px;
    margin: 10px 0 0 20px;
  }
  .fa-circle {
    /*font*/
    font-size: 12px;
  }
  .online {
    color: green;
  }
  .offline {
    color: #333;
  }
}

#chat {
  float: right;
  .fa-close {
    float: right;
    margin: 10px;
    display: block;
    /*font*/
    color: #333;
  }
  .message-list {
    border: 1px solid #999;
    list-style: none;
    padding: 0;
    margin: 5px 0;
    width: 255px;
    height: 500px;

  }
  .chat-input {
    width: 200px;
    height: 30px;
    /*font*/
    font-size: 12px;
  }
  .chat-send {
    background: #ccc;
    width: 50px;
    height: 30px;
    font-size: 12px;
    padding: 0;
    &:hover {
      background: #bbb;
    }
  }
}

#all-folder-docs {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      line-height: 40px;
    }
  }
  .avatar {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    opacity: 0.5;
  }
  .online {
    opacity: 1.0;
  }
}