.left-off-canvas-menu {
  ul {
    list-style: none;
    padding-left: 0;
  }
  .subheader {
    color: #fff;
    margin-right: 1rem;
    padding: 15px 0 5px 0;
  }
}
.toggle-icon {
  float: left;
  width: 5%;
  background: #333;
  height: 45px;
  padding: 5px 20px;
}
.search-bar {
  /*height: 35px;*/
  margin-top: 1rem;
}
.menu {
  float: left;
  width: 95%;
}
.top-bar-section {
  .avatar {
    height: 30px;
    width: auto;
    border-radius: 100%;
  }
  .fa {
    margin-right: 10px;
    font-size: 16px;
  }
}
