<div class="row">
  <div class="content doc-view small-12 columns">
    <div ng-show='backToParentView'>
      <button ng-click="findParentFolder()" class="grey">
      <i class="fa fa-angle-double-left"></i>
      Back To Parent Folder
      </button>
    </div>
    <p ng-show="saveComplete">Saving..</p>
    <a href='./downloads/{{doc.name}}' download>
      <button type="button" ng-click="createTempFile(doc)">Download</button>
    </a>
    <input ng-disabled="titleEditDisable" onblur="this.placeholder = 'Document Name'" type="text" ng-model="doc.name" value='{{doc.name}}' placeholder="Document Name" class="lg no-border">
    <div class="editor" doc-directive></div>
    <button ng-click="saveDoc(doc)" class="grey">Save</button>
  </div>
  <div class="chat-widget" ng-show="chatContainer">
    <div class="chat-widget-bar clickable" ng-show="showChat" ng-click="toggleChatDisplay()">
      Chat
    </div>
    <div class="chat-widget-display" ng-hide="showChat">
      <div class="chat-widget-header clickable" ng-click="toggleChatDisplay()">
        Chat
      </div>
      <div chat-directive></div>
    </div>
  </div>
</div>
