<!-- <div class="textAreaWithLines">
  <div id="lineObj"></div>
  <textarea id="content" rows='{{rowNumber}}' ng-model="doc.content" ng-change="changeText()" ng-trim="false" ng-value="doc.content"></textarea>
</div> -->
<select id='theme' ng-model='theme' ng-change='changeTheme()'>
<option>ambiance</option>
<option>chaos</option>
<option>chrome</option>
<option>clouds</option>
<option>cobalt</option>
<option>crimson_editor</option>
<option>dawn</option>
<option>dreamweaver</option>
<option>eclipse</option>
<option>github</option>
<option>idle_fingers</option>
<option>katzenmilch</option>
<option>kr_theme</option>
<option>kuroir</option>
<option>merbivore_soft</option>
<option>mono_industrial</option>
<option>monokai</option>
<option>pastel_on_dark</option>
<option>solarized_dark</option>
<option>solarized_light</option>
<option>terminal</option>
<option>textmate</option>
<option>tomorrow</option>
<option>tomorrow_night</option>
<option>tomorrow_night_blue</option>
<option>tomorrow_night_bright</option>
<option>tomorrow_night_eighties</option>
<option>twilight</option>
<option>vibrant_ink</option>
<option>xcode</option>
</select>
<div id="editor"></div>