<div class="row">
  <div class="content doc-view small-12 columns">


    <p ng-show="saveComplete">Save Completed</p>
    <!-- <label for="title">Document Name:</label> -->
    <input ng-disabled="titleEditDisable" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Document name...'" type="text" ng-model="doc.name" id="title" value='{{doc.name}}' placeholder="Document name...">

    <label for="content">Content:</label>
    <div class="editor" doc-directive></div>
    <button type="button" ng-click="saveDoc(doc)">Save</button>


  </div>
</div>
