<label for='theme'>Theme</label>
<select id='theme' ng-model='theme' ng-change='changeTheme()'>
<option>ambiance</option>
<option>chaos</option>
<option>chrome</option>
<option>clouds</option>
<option>cobalt</option>
<option>crimson_editor</option>
<option>dawn</option>
<option>dreamweaver</option>
<option>eclipse</option>
<option>github</option>
<option>idle_fingers</option>
<option>katzenmilch</option>
<option>kr_theme</option>
<option>kuroir</option>
<option>merbivore_soft</option>
<option>mono_industrial</option>
<option>monokai</option>
<option>pastel_on_dark</option>
<option>solarized_dark</option>
<option>solarized_light</option>
<option>terminal</option>
<option>textmate</option>
<option>tomorrow</option>
<option>tomorrow_night</option>
<option>tomorrow_night_blue</option>
<option>tomorrow_night_bright</option>
<option>tomorrow_night_eighties</option>
<option>twilight</option>
<option>vibrant_ink</option>
<option>xcode</option>
</select>
<label for='mode'>Language</label>
<select id="mode" ng-model="mode" ng-change="changeMode()">
<option>abap</option>
<option>actionscript</option>
<option>ada</option>
<option>apache_conf</option>
<option>applescript</option>
<option>asciidoc</option>
<option>assembly_x86</option>
<option>autohotkey</option>
<option>batchfile</option>
<option>c9search</option>
<option>c_cpp</option>
<option>cirru</option>
<option>clojure</option>
<option>cobol</option>
<option>coffee</option>
<option>coldfusion</option>
<option>csharp</option>
<option>css</option>
<option>curly</option>
<option>d</option>
<option>dart</option>
<option>diff</option>
<option>django</option>
<option>dockerfile</option>
<option>dot</option>
<option>eiffel</option>
<option>ejs</option>
<option>erlang</option>
<option>forth</option>
<option>ftl</option>
<option>gcode</option>
<option>gherkin</option>
<option>gitignore</option>
<option>glsl</option>
<option>golang</option>
<option>groovy</option>
<option>haml</option>
<option>handlebars</option>
<option>haskell</option>
<option>haxe</option>
<option>html</option>
<option>html_ruby</option>
<option>ini</option>
<option>io</option>
<option>jack</option>
<option>jade</option>
<option>java</option>
<option>javascript</option>
<option>json</option>
<option>jsoniq</option>
<option>jsp</option>
<option>jsx</option>
<option>julia</option>
<option>latex</option>
<option>less</option>
<option>liquid</option>
<option>lisp</option>
<option>livescript</option>
<option>logiql</option>
<option>lsl</option>
<option>lua</option>
<option>luapage</option>
<option>lucene</option>
<option>makefile</option>
<option>markdown</option>
<option>matlab</option>
<option>mel</option>
<option>mushcode</option>
<option>mysql</option>
<option>nix</option>
<option>objectivec</option>
<option>ocaml</option>
<option>pascal</option>
<option>perl</option>
<option>pgsql</option>
<option>php</option>
<option>plain_text</option>
<option>powershell</option>
<option>praat</option>
<option>prolog</option>
<option>properties</option>
<option>protobuf</option>
<option>python</option>
<option>r</option>
<option>rdoc</option>
<option>rhtml</option>
<option>ruby</option>
<option>rust</option>
<option>sass</option>
<option>scad</option>
<option>scala</option>
<option>scheme</option>
<option>scss</option>
<option>sh</option>
<option>sjs</option>
<option>smarty</option>
<option>snippets</option>
<option>soy_template</option>
<option>space</option>
<option>sql</option>
<option>stylus</option>
<option>svg</option>
<option>tcl</option>
<option>tex</option>
<option>text</option>
<option>textile</option>
<option>toml</option>
<option>twig</option>
<option>typescript</option>
<option>vala</option>
<option>vbscript</option>
<option>velocity</option>
<option>verilog</option>
<option>vhdl</option>
<option>xml</option>
<option>xquery</option>
<option>yaml</option>
</select>
<div id="editor"></div>