<div class="slide intro">
  <h2>Papalote</h2>
  <p class="tagline">Real time collaborative coding and file sharing platform</p>
  <div class="login-container">
    <button><i class="fa fa-github"></i> Login with Github</button>
    <button><i class="fa fa-user"></i> Demo Login</button>
  </div>
</div>
<div class="slide start">
  <h2>Try Papalote without an account</h2>
  <div class="create-container">
    <input type="text" placeholder="file or folder name"/>
    <div class="create file fa fa-file-text-o fa-2x"/>
    <div class="create folder fa fa-folder-o fa-2x"/>
  </div>
  
</div>
<div class="slide team">
  <h2>Team</h2>
  <p class="tagline">Created by <a href="makersquare.com">MakerSquare</a> students, an immersive program training full-stack software developers</p>
  <ul class="member-container small-block-grid-4">
    <li class="member">
      <div class="photo">
        <%= image_tag("https://avatars3.githubusercontent.com/u/8119058?v=2&s=460", class: "photo") %>
      </div>
      <h4>Parag Dadhaniya</h4>
      <div class="social">
        <a href="https://github.com/pdadhaniya">
          <i class="fa fa-github"></i>
        </a>
        <a href="https://linkedin.com/in/paragdadhaniya">
          <i class="fa fa-linkedin-square"></i>
        </a>
        <a href="https://twitter.com/paragdaDON">
          <i class="fa fa-twitter"></i>
        </a>
      </div>
    </li>
  </ul>
</div>