<div class="row">
  <div class="small-12 columns">

    
    <a class="button" ng-href="#/folders/new">new folder</a>
    <a class="button" ng-href="#/docs/new">new file</a>
    <a class="button" ng-href="#/login">login</a>

    
  </div>
</div>