<div class="row">
    <div class="large-6 columns">
      <div class="signup-panel">
        <p class="welcome"> Welcome to this awesome app!</p>
        <form>
          <div class="row collapse">
            <div class="small-2  columns">
              <span class="prefix"><i class="fi-torso-female"></i></span>
            </div>
            <div class="small-10  columns">
              <input type="text" placeholder="username">
            </div>
          </div>
          <div class="row collapse">
            <div class="small-2 columns">
              <span class="prefix"><i class="fi-mail"></i></span>
            </div>
            <div class="small-10  columns">
              <input type="text" placeholder="email">
            </div>
          </div>
          <div class="row collapse">
            <div class="small-2 columns ">
              <span class="prefix"><i class="fi-lock"></i></span>
            </div>
            <div class="small-10 columns ">
              <input type="text" placeholder="password">
            </div>
          </div>
        </form>
        <a href="#" class="button ">Sign Up! </a>
         <p>Already have an account? <a href="#">Login here &raquo</a></p>
      </div>
    </div>
   </div>         


   when click login , redirect to /auth/github
   takes user to guthubs auth system
   once they logged in it will redirect user to our web app at the redirect url that we provided them with
   /auth/github/callback
   create this route and retrieve current user infor based on info they give us
   info they give us lcoated at: request.env['omniauth.auth']
