<div class="row">
  <div class="content small-12 columns">
    <div class="show-folder">
      <div ng-show="backToParentView">
        <button ng-click="findParentFolder(currentFolder)" class="grey">
        <i class="fa fa-angle-double-left"></i> 
        Back to Parent Folder
        </button>
      </div>
      <button class="edit grey btn-right" ng-click="updateFolderName(currentFolder)">Update Folder Name</button>
      <div class="left-of-btn">
        <input type="textarea" ng-model="currentFolder.name" class="med">
      </div>
      <div class="folder-content">
      <h4>Folder Contents:</h4>
        <div ng-show='empty'>
          <p><em>This folder is currently empty.</em></p>
        </div>
        <div ng-repeat="doc in docs" id='{{doc.id}}'>
          <div ng-click="findDoc(doc)" class="clickable file-show">
            <i class="fa fa-file fa-2x"></i>
            {{ doc.name }}
            <a class='delete-btn' href='#/folders/{{folder.id}}' ng-click='deleteDoc(doc)'><i class="fa fa-trash-o"></i></a>
          </div>
        </div>
        <div ng-repeat="subfolder in subfolders" id='{{subfolder.id}}'>
          <div ng-click="findSubFolder(subfolder)" class="clickable file-show">
          <i class="fa fa-folder fa-2x"></i>
          {{ subfolder.name }}
            <a class='delete-btn' href='#/folders/{{folder.id}}' ng-click='deleteFolder(subfolder)'><i class="fa fa-trash-o"></i></a>
          </div>
        </div>
      </div>
      <form ng-submit="newDocOrFolder(input)">
        <input ng-model="input.name" type='textarea' class="med" placeholder="File/Folder Name"/>
      </form>
      <button ng-click="newDoc(input)">
        <i class="fa fa-file-o"></i> Create New File
      </button>
      <button ng-click="newFolder(input)">
        <i class="fa fa-folder-o"></i> Create New Folder
      </button>
      <button ng-click="viewUserPage()">
        See {{user.name}}'s Profile
      </button>
    </div>
  </div>
</div>
