<div ng-controller="ChatController" id="chat">
  <i class="fa fa-close"></i>
  
  <ul class="message-list">
    <li ng-repeat="m in messages">
      {{m.user}}: {{m.message}}
    </li>
  </ul>

  <form ng-submit="sendMessage(message)" class="send-message">
    <input ng-model="message.message" autocomplete="off" class="chat-input" placeholder="Begin chatting..."/>
    <button class="chat-send">Send</button>
  </form>

</div>

